/* 페이지네이션 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    color: #4CAF50;
    border: 1px solid #ddd;
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

.pagination a.disabled {
    color: #ccc;
    pointer-events: none;
    border-color: #ddd;
}

.pagination a:hover:not(.disabled) {
    background-color: #e6f7e6;
}

/* 새 책 등록 버튼 */
.add-book {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.add-book a {
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.add-book a:hover {
    background-color: #45a049;
}
.btn {margin:5px; padding:5px 11px; color:#fff !important; display:inline-block; background-color:#7D7F82; vertical-align:middle; border-radius:0 !important; cursor:pointer; border:none;}